@charset "UTF-8";
*{margin: 0 ; padding : 0;}

/* wrap 컨테이너에 대한 스타일 */
.wrap {
  width: 700px;
  text-align: center;
  margin: 0 auto;

}

/* h3 제목에 대한 스타일 */
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* contentbox에 대한 스타일 */
.contentbox {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f0f0f0;
}

/* seatarea에 대한 스타일 */
.seatarea {
  margin-top: 20px;
}

/* seatarea 내의 h4 제목에 대한 스타일 */
.seatarea h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* seatBox에 대한 스타일 */
.seatBox {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

/* inputBox에 대한 스타일 */
.inputBox {
  margin-top: 20px;
}

/*기본 좌석 css*/
.seat {
   width: 30px;
   height: 30px;
   padding: 30px;
   border: none;
   line-height: 30px;
   text-align: center;
   border-radius: 15px;
   font-size: 50px;
   color:  white;
}

/*선택한 좌석*/
.selectbutton{
   color: white;
   background-color: #3CB0FF;
   line-height: 30px;
   border: none;
   border-radius: 15px;
   font-weight: bold;
}
.usedseat { /*사용중인좌석*/
   background-color: green;
   color: red;
   border: none;
}

.unusedseat { /*비어있는 좌석*/
   background-color: #1399B8;
   color: white;
    border: none;
}

/* 입력 필드에 대한 스타일 */
input {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* buttonBox에 대한 스타일 */
.buttonBox {
  margin-top: 20px;
}

/* 버튼에 대한 스타일 */
button {
  padding: 10px 20px;
  background-color: #1399B8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

/* 버튼에 대한 마우스 호버 시 스타일 */
button:hover {
  background-color: #0056b3;
}